<section class="bg-chs-blue" id="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="section-heading">Dashboard</h2>
                <hr class="light">
                <p>Magical abilities to streck them alcoholz will arrive here shortly...!</p>
            </div>
        </div>
        <div class="row dashboard">
    		<div class="col-md-8 bg-chs-green productgrid">
                <!-- Product list -->
				<table>
    				<!-- Product list header -->
    				<thead>
        				<tr>
        					<!-- Correct sizings compared to the entire table -->
            				<td style="width: 60em;" class="left">Product</td>
            				<td style="width: 20em;" class="center">Amount</td>
          					<td style="width: 20em;" class="right">Price</td>
        				</tr>
    				</thead>
    				<!-- Container for product list rows-->
    				<tbody productlist>
			    	</tbody>
				</table>
            </div>
            <div class="col-md-4 text-center bg-chs-purple productgrid">
        		<p>Hall of fame</p>
        	</div>
        </div>
    </div>
</section>