extends layout

block content
  if (!user)
    link(rel='stylesheet', href='/css/login.css')
    include login.html
  if (user)
    include navbar.jade
    include dashboard.html
    include footer.html
